### Compiled Java Class Files ###
*.class

### Build / Target Tooling ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar
.kotlin

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Logs & Runtime Storage ###
*.log
log/
logs/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System Files ###
.DS_Store
Thumbs.db
desktop.ini

### Environment / Secrets ###
.env
*.env.local